.contact {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 2rem;
  height: 100%;
}

.contact__container { margin: auto; }

.data {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.data p, .data a {
  color: inherit;
  line-height: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

.data img {height: 2rem; }

.profiles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.profiles a { height: 2rem; }

.profiles svg, .profiles img {
  stroke: var(--fourth-color);
  height: 2rem;
  width: 2rem;
  transition: scale .3s;
}

form {
  margin: .5rem auto 0;
  width: 100%;
}

.form__container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

label {
  color: var(--fifth-color);
  margin: auto 0;
}

input, textarea {
  font-family: inherit;
  color: var(--fifth-color);
  background-color: var(--first-color);
  outline: none;
  height: 2rem;
  padding: .5rem;
  border: 2px solid var(--second-color);
  border-radius: .5rem;
  resize: none;
}

textarea { height: 8rem; }

input.error, textarea.error { border: 2px solid red; }

button[type="submit"] {
  font-size: 1.2rem;
  color: var(--first-color);
  background-color: var(--fourth-color);
  width: 25%;
  margin: 1rem 37% 0;
  padding: 1rem 0;
  border-radius: .5rem;
  transition: opacity .3s;
}

@media (max-width: 600px) {
  .contact {
    font-size: .8rem;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    gap: 1rem;
  }
  /* .contact__container {margin-left: 0;} */
  .data {
    margin-top: 1rem;
    gap: 1rem;
  }  
  .profiles {
    justify-content: space-between;
    margin-top: 1rem;
  }
  form { margin: 1rem auto 0; }  
  .form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }  
  label {
    color: var(--fifth-color);
    margin: -.5rem 0;
  }
  textarea { height: 6rem; }
  button[type="submit"] {
    font-size: 1rem;
    width: 40%;
    margin: 1rem 30% 0;
    padding: .5rem 0;
  }
}

@media (min-width: 600px) {
  .data p:hover, .data a:hover {text-decoration: none; }
  .profiles svg:hover, .profiles img:hover { scale: 1.2; }
  button[type="submit"]:hover { opacity: .75; }
}
