.about {
  height: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.about__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about h2 { margin: 1rem 0 0; }

.about p {
  margin-bottom: .5rem;
  text-align: justify;
  /* font-size: 1rem; */
}

.about__img {
  background-image: url(../Assets/programando.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}