.contact {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 2rem;
  height: 100%;
}

.contact__container { margin: auto; }

.data {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.data img {height: 2rem; }
.data p, a { line-height: 2rem; }
.data a { color: inherit; }
.data a:hover {text-decoration: none;}

.profiles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.profiles svg {
  stroke: var(--fourth-color);
  height: 2rem;
  width: 2rem;
  transition: scale .3s;
}

.profiles svg:hover { scale: 1.2; }

.form h2 {
  margin-top: 1rem;
  text-align: center;
}

form {
  margin: .5rem auto 0;
  width: 100%;
}

.form__container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

label {
  color: var(--fifth-color);
  margin: auto 0;
}

input, textarea {
  font-family: inherit;
  color: var(--fifth-color);
  background-color: var(--first-color);
  outline: none;
  height: 2rem;
  padding: .5rem;
  border: 2px solid var(--second-color);
  border-radius: .5rem;
  resize: none;
}

textarea {height: 8rem; }

button[type="submit"] {
  font-size: 1.2rem;
  color: var(--first-color);
  background-color: var(--fourth-color);
  width: 25%;
  margin: 1rem 37% 0;
  padding: 1rem 0;
  border-radius: .5rem;
  transition: opacity .3s;
}

button[type="submit"]:hover { opacity: .75; }