.dark-mode-btn {
  /* background-color: var(--second-color); */
  height: 7vh;
  width: 7vh;
  position: fixed;
  top: 1.5vh;
  right: 2rem;
  border-radius: 50%;
  overflow: hidden;
  z-index: 30;
}

.dark-mode-btn img{
  margin: 1vh;
  height: 5vh;
  width: 5vh;
  transition: all.3s;
  animation: rotation infinite 6s linear;
}

@keyframes rotation {
  /* 0% { rotate: 0; } */
  100% { rotate: 360deg; }
}

@media (max-width: 600px) {
  .dark-mode-btn {
    height: 4vh;
    width: 4vh;
    top: 1vh;
    right: 1vh;
  }
  .dark-mode-btn img {
    margin: .5vh;
    height: 3vh;
    width: 3vh;
  }
}

@media (min-width: 600px) {
  .dark-mode-btn img:hover { scale: 1.2; }
}