@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .5s;
}

:root {
  --light-bg: url(/src/Assets/background-pattern.png);
  --dark-bg: url(/src/Assets/background-pattern-dark.png);
}

html {
  background-image: var(--light-bg);
  background-position: fixed;
  font-family: 'Poppins', sans-serif;
  color: var(--fifth-color);
  width: 100vw;
  overflow: hidden;
}

main {
  margin-top: 10vh;
  width: 300vw;
  height: 90vh;
  transition: transform .5s ease-in-out;
  display: flex;
}

.container {
  width: 80vw;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--first-color);
  box-shadow: 0 0 2rem .5rem var(--shadow-color);
  z-index: 10;
}

h1 {
  color: var(--second-color);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.3vw;
}

h2 { color: var(--second-color); }

button {
  font-family: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

img { display: block; }

@media (max-width: 600px) {
  html {
    overflow-y: auto;
  }  
  main {
    margin-top: 8vh;
    width: 100vw;
    height: auto;
    padding-bottom: 20vh;
    flex-direction: column;
    gap: 10vh;
  }  
  .container {
    width: 85vw;
    height: auto;
    margin: 1rem auto auto;
    padding: 1rem;
    border-radius: 1rem;
  }  
  h1 { font-size: 4vw; }  
}
